html {
    scroll-behavior: smooth;
}
.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
/* ჰედერი დაიწყო */
header {
    width: 100%;
}
.black-header{
    width: 100%;
    background-color: #202020;
}
.account p {
    color: #909090;
    font-family: 'Source Sans Pro-sm';
    font-size: 14px;
    margin-left: 9px;
}
.account{
    width: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
/* დამალული ფორმა */
.sign{
    /* width: 5%; */
    height: 0;
    transition: all 0.3s;
    position: absolute;
    right: 10px;
}
.name, .password, .signIn {
    opacity: 0;
    transition: all 0.3s;
}
.height {
    height: 100px;
}
.opacity {
    opacity: 1;
}
.white-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.logo{
    color: #202020;
    font-size: 48px;
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: 'Bebas Neue';
    font-weight: bold;
}
.white-header ul{
    width: 440px;
    display: flex;
    justify-content: space-between;
}
.white-header li {
    font-size: 14px;
    font-family: 'Source Sans Pro-sm';
    color: #202020;
}
.search {
    width: 10%;
    position: relative;
    background-color: #EBEBEB;
    
}
.search input {
    width: 0;
    transition: all 0.3s;
    border: 0;
    height: 25px;
    
}
.search button{
    width: 15%;
    border: 0;
    cursor: pointer;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
}
.search input.active {
    width: 85%;
}
.search input:focus{
    outline: none;
}

/* პირველი სექცია დაიწყო */
.first-section {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.first-section img{
    width: 100%;
}
.adventures {
    width: 70%;
    height: 30%;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0;
    padding: 24px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    border-bottom: 1px solid black;
}
.adventures h4{
    font-size: 40px;
    font-family: 'Source Sans Pro-reg';
}
.adventures p{
    font-size: 20px;
    font-family: 'Source Sans Pro-reg';
}
.adventures button{
    width: 154px;
    font-size: 14px;
    font-family: 'Source Sans Pro-sm';
    border: none;
    padding: 14px 16px;
    background-color: #FFEB00;
}
/* მეორე სექცია დაიწყო */
.second-section{
    width: 100%;
    
}
.slider {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}
.info{
    width: 30%;
    padding: 20px;
    background-color: #F7F7F7;
}
.photo {
    width: 70%;
    
}
.photo img{
    width: 100%;
    height: 100%;
    
}
.bullet.active {
    background-color: #202020;
}
.bullets-arrows{
    margin-bottom: 75px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
}
.arrow {
    margin-left: 30%;
}
.left-arrow{
    margin-right: 15px;
}
.bullets {
    width: 200px;
    height: 30px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.bullet {
    width: 15px;
    height: 15px;
    margin-left: 15px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #EBEBEB;
}
.info-photo {
    display: flex;
    width: 100%;
    height: 487px;
    
}
.arrow img {
    cursor: pointer;
}
.info h2{
    font-size: 36px;
    margin-bottom: 4%;
    font-family: 'Source Sans Pro-reg';
}
.info div{
    width: 84px;
    height: 2px;
    background-color: #FFE900;
    margin-bottom: 10%;
}
.info button{
    width: 155px;
    height: 48px;
    background-color: #FFEB00;
    border: none;
    font-size: 14px;
    font-family: 'Source Sans Pro-sm';

}
.info h4{
    font-size: 24px;
    margin-bottom: 5%;
    font-family: 'Source Sans Pro-reg';

}
.info p{
    font-size: 14px;
    margin-bottom: 50%;
    line-height: 28px;
    font-family: 'Source Sans Pro-reg';
}
/* მესამე სექცია დაიწყო */
.recent-articles{
    width: 80%;
    margin: 72px auto;
}
.recent-articles h2{
    font-size: 36px;
    padding: 12px;
    font-family: 'Source Sans Pro-reg';

}
.line{
    width: 84px;
    height: 2px;
    background-color: #FFE900;
}
.cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 48px;
    
    padding-bottom: 90px;  
}
.card {
    width: 256px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    opacity: 0;
    transition: all 3s;
}
.card h5{
    font-size: 16px;
    font-family: 'Source Sans Pro-sm';

}

.gif{
    display: flex;
    justify-content: center;
}
.subTitle{
    font-size: 10px;
    color: #909090;
    font-family: 'Source Sans Pro-sm';

}
.full-line{
    width: 100%;
    height: 2px;
    background-color: #EBEBEB;
    border-radius: 1px;
    margin-bottom: 48px;
}

/* მეოთხე სექცია დაიწყო */

.next-adventures {
    width: 100%;
    margin: 48px auto;
   
    
}
.next-adventures h2{
    font-size: 36px;
    font-family: 'Source Sans Pro-reg';

}
.climbing{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 62px;
}
.next-adventures img {
    width: 100%;
}

.white {
    width: 60%;
    padding: 24px;
    position: absolute;
    bottom: -0.5px;
    background-color: #fff;
    border-bottom: 1px solid black;
    /* display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-content: space-between;  */
}
.white h4 {
    font-size: 40px;
    margin-bottom: 12px;
    font-family: 'Source Sans Pro-reg';

}
.white p {
    font-size: 20px;
    font-family: 'Source Sans Pro-reg';
    margin-bottom: 12px;
}
.white button{
    width: 155px;
    height: 48px;
    background-color: #FFEB00;
    border: none;
    font-size: 14px;
    font-family: 'Source Sans Pro-sm';
}
/* მეხუთე სექცია დაიწყო */
.where-do-you-want-to-go{
    width: 80%;
    margin: 72px auto;
}
.where-do-you-want-to-go h4 {
    font-size: 24px;
    font-family: 'Source Sans Pro-reg';

}
.country-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 48px;
}
.single-card {
    width: 256px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    
}
.single-card img {
    width: 100%;
}
.single-card h5{
    font-size: 16px;
    font-family: 'Source Sans Pro-sm';

}
.single-card p {
    font-size: 10px;
    font-family: 'Source Sans Pro-sm';
    color: #909090;
}
/* მეექვსე სექცია დაიწყო */
.validation-section {
    width: 80%;
    margin: 0 auto;
    height: 200px;
    display: flex;
    justify-content: space-between;
    background-color: #F7F7F7;

}
.validation-section .photo {
    width: 30%;
    
}
.photo img {
    width: 100%;
}
.email-info{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;

}
.email-info h4 {
    font-size: 40px;
    font-family: 'Source Sans Pro-reg';
}
.email-info p {
    font-size: 14px;
    font-family: 'Source Sans Pro-reg';
}
.email {
    width: 236px;
    height: 48px;
    background-color: #EBEBEB;
    border: none;
    
}
.button{
    width: 133px;
    height: 48px;
    background-color: #202020;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Source Sans Pro-sm';
}
.form {
    width: 389px;
    height: 48px;
    display: flex;
    justify-content: space-between;
}
::placeholder{
    text-align: center;
    font-size: 14px;
    font-family: 'Source Sans Pro-sm';
}
.none {
    display: none;
}

.green {
    color: green;
    display: none;
}
.red{
    color: red;
    display: none;
}
.block{
    display: block;
}
/* ფუტერი  */
footer {
    width: 100%;
    height: 234px;
    background-color: #202020;
    margin-top: 72px;
    padding-bottom: 54px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}
.footer-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
.footer-header .footer-logo{
    color: #EBEBEB;
    font-size: 48px;
    font-family: 'Bebas Neue';
    font-weight: bold;
}
.footer-header ul {
    width: 440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-header li {
    font-size: 14px;
    color: #909090;
}
.footer-header .icons{
    width: 144px;
    height: 48px;
    display: flex;
}
.footer-header .icons div{
    width: 48px;
    height: 48px;
    background-color: #EBEBEB;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright{
    color: #909090;
    width: 80%;
    margin: 0 auto;
    font-size: 14px;
    font-family: 'Source Sans Pro-sm';
}
footer li:first-child {
    color: #fff;
}
footer li{
    font-size: 14px;
    font-family: 'Source Sans Pro-sm';

}